################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-Commerce--Backend/API/.vs/API/FileContentIndex/5db7327b-3c15-4d7a-857f-493e79b98b05.vsidx
/E-Commerce--Backend/API/.vs/API/FileContentIndex/ea7ffe8f-5340-4da2-9116-e1fba7d1afaa.vsidx
/E-Commerce--Backend/API/.vs/API/FileContentIndex/a9a37d10-fc35-4661-aa34-98d0864c2642.vsidx
/E-Commerce--Backend/API/.vs/API/FileContentIndex/1a617280-6dd5-4c94-8503-bd9d6d5313f0.vsidx
