################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-Commerce--Backend/API/.vs/API/FileContentIndex/5db7327b-3c15-4d7a-857f-493e79b98b05.vsidx
